.cards {
  padding-top: 20px;
  width: 100%;
}

.cards__list {
  list-style-type: none;
  padding: 0 0 36px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(288px, 1fr));
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .content {
    padding: 0 16px;
  }

  .cards {
    width: 100%;
  }

  .cards__list {
    grid-template-columns: 1fr;
    margin: 24px auto 0;
    gap: 32px;
  }
}
