.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0 0 36px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    max-width: 288px;
    margin: 0 auto;
  }

  .cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
    border-radius: 8px;
    border-style: none;
    gap: 32px;
    margin: 24px auto 0;
  }
}
