.footer{
  margin-top: 40px;
  background: transparent;
}

.footer__inner{
  width: min(1280px, calc(100% - 160px));
  margin: 0 auto;
  border-top: 1px solid rgba(33,33,33,0.4);
  padding: 20px 0 80px;
}

.footer__text{
  justify-content: center;
  background: transparent;
    display: flex;
    margin: 40px;
    text-align: center;
    font: 400;
    font-size: 16px;
    line-height: 1;
    color: #212121;
    opacity: 0.7;
}

@media (max-width: 627px){
  .footer__inner{ padding-bottom: 40px; }
}