.footer {
  background-color: #fcf5e5;
}

.footer__container {
  width: min(1280px, calc(100% - 160px));
  margin: 0 auto;
  border-top: 1px solid rgba(33, 33, 33, 0.4);
  padding: 60px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__text {
  margin: 0;
  text-align: center;
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
}

@media (max-width: 627px) {
  .footer__container {
    width: calc(100% - 32px);
    padding-bottom: 40px;
    justify-content: center;
    box-sizing: border-box;
  }
}
