.modal{
  visibility:hidden;
  background-color: #00000080;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened{
  visibility:visible;
}

.modal__container{
max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
   position: relative;
}

.modal__close-btn{
  position: absolute;
  top: 32px;
 right: 20px;
  width: 40px;
  height: 40px;
  opacity: .4;
  border: none;
  background-color: #ffffff;
}

.modal__title{
  margin: 0 0 32px;
  font:500 32px/1 "Poppins", system-ui, sans-serif;
}

.modal__form{
display: flex;
flex-direction: column;
}

.modal__label{
margin: 0 0 32px;
font:500 16px/1 "Poppins", system-ui, sans-serif;
color: #212121;
opacity: .7;
}

.modal__input{
display: block;
margin: 8px 0 0;
width: 100%;
color: #212121;
opacity: .4;
padding: 16px 12px;
border-radius: 8px;
border-style: solid;
}

.card-image-input{
font:500 20px/1 "Poppins", system-ui, sans-serif;
color: #212121;
opacity: .3;
}

.modal__input::placeholder{
  color: #212121;
  font:500 20px/1 "Poppins", system-ui, sans-serif;
}

.modal__submit-btn{
  background-color: #212121;
  font:500 16px/1 "Poppins", system-ui, sans-serif;
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  padding: 18px 32px;
  color: #fcf5e5;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 627px) {
.modal__submit-btn{
max-width: none;
}

}

